# Pennsylvania 2017 state employee salaries Pandas analysis #

By Natasha Khan and J. Dale Shoemaker

A Python [Pandas](https://pandas.pydata.org/) analysis produced for PublicSource's data quiz [Find out how much Pennsylvania paid state employees in 2017. Take our quiz.](https://www.publicsource.org/find-out-how-much-pennsylvania-paid-state-employees-in-2017-take-our-quiz/). 

The data was obtained from Pennsylvania's Executive Office.

In [130]:
import pandas as pd

### Loads data into pandas â¬‡  ###

In [131]:
pd.read_csv('https://projects.publicsource.org/2018_statesalaries/2017-statesalaries.csv')

,agency,name,job_title,original_hire_date,date_of_current_position,separation_date,hourly,base_salary,actual_salary_2017,overtime_2017,leave_payout_2017,total
0,Human Services,Marsha Susan Harrison,Rsdntl Srvs Aide,8/20/06,8/17/07,NaN,NaN,32131.0,25191.03,NaN,NaN,25191.03
1,Corrections,Reddecliff,Corr Ofr 1,1/14/96,NaN,1/7/21,NaN,63176.0,NaN,NaN,-8305.51,-8305.51
2,Human Services,Denise McIntosh,Frnsc Regsted Nrs Supv,7/7/14,NaN,2/9/21,33.27,NaN,0.00,NaN,-6678.29,-6678.29
3,Corrections,Tony D Wolfe,Corr Actvs Mgr 2,2/22/99,NaN,1/21/21,NaN,71394.0,NaN,NaN,-5553.48,-5553.48
4,Human Services,Terry J Shumar,Regsted Nrs,7/28/13,NaN,3/12/21,NaN,62154.0,NaN,NaN,-5236.49,-5236.49
5,Human Services,Erin M Beckes,Inc Mntnc Csewrkr,10/28/01,NaN,2/18/21,27.24,NaN,NaN,NaN,-4616.09,-4616.09
6,Labor & Industry,Toni L Swartz,Clk Typst 3,5/19/96,NaN,2/5/21,NaN,45692.0,0.00,NaN,-4238.44,-4238.44
7,Human Services,Thomas W Taylor,Fac Mntnc Mgr 1,10/7/02,NaN,1/28/21,NaN,48118.0,NaN,NaN,-3721.73,-3721.73
8,Human Services,Tracie Jo Rutherford,Rsdntl Srvs Wkr,12/2/01,NaN,2/19/21,NaN,47746.0,NaN,NaN,-3472.81,-3472.81
9,Corrections,Hauslyak,Corr Ofr 1,1/9/11,NaN,1/28/21,NaN,59462.0,684.00,NaN,-3813.88,-3129.88
10,Human Services,Terri Kittinger,Inc Mntnc Csewrkr,8/3/14,NaN,1/20/21,27.41,NaN,205.58,NaN,-3276.32,-3070.74
11,Corrections,Teresa Crispell,D&A Trmt Spcst 2,11/18/12,NaN,1/6/21,NaN,55665.0,6.67,NaN,-2740.57,-2733.90
12,Human Services,Starr M Zimmerman,Inc Mntnc Csewrkr,6/16/15,NaN,3/4/21,22.36,NaN,0.22,NaN,-2731.72,-2731.50
13,Human Services,Manuel Velez,Inc Mntnc Csewrkr,11/1/09,NaN,8/27/21,NaN,48802.0,NaN,NaN,-2471.05,-2471.05
14,Liquor Control Board,Viola Dailey,Liq Str Clk 1,5/19/02,NaN,1/27/21,NaN,38866.0,NaN,NaN,-2451.16,-2451.16
15,Human Services,Barbara L Arnold,Rsdntl Srvs Aide,9/6/93,NaN,5/28/21,NaN,43627.0,0.00,NaN,-2429.54,-2429.54
16,Department of Millitary and Veterans Affairs,Francesca Rose Lemke,Nrs Aide,9/16/12,NaN,3/9/21,16.02,NaN,0.16,NaN,-2404.13,-2403.97
17,Transportation,Timothy H Olson,Trnspt Cnstn Mgr 2,12/1/02,NaN,3/2/21,NaN,63981.0,NaN,NaN,-2389.13,-2389.13
18,Corrections,Pamela A Albus,Lcnsd Prctcl Nrs,7/13/14,NaN,2/25/21,NaN,44545.0,2.14,NaN,-2391.20,-2389.06
19,Labor & Industry,Denara L Johnson,St Wkr Ins Fd Clm Adjr,6/28/09,NaN,2/17/21,NaN,44929.0,NaN,NaN,-2135.75,-2135.75
20,Liquor Control Board,Aaron R Thomas,Liq Str Gen Mgr 2A,11/18/12,NaN,1/14/21,NaN,44597.0,NaN,NaN,-1893.77,-1893.77
21,Municipal Retirement Board,Shaniqua Nioka Brooks,Admv Ofr 1,1/21/08,NaN,2/23/21,NaN,43110.0,NaN,NaN,-1817.85,-1817.85
22,Human Services,Joyce M Beer,Inc Mntnc Csewrkr,4/24/11,NaN,2/1/21,23.90,NaN,0.24,NaN,-1785.57,-1785.33
23,Human Services,Marianne Meckley,Third Party Liab Prgm Invtgr,11/16/97,NaN,2/18/21,NaN,60851.0,1423.29,NaN,-3143.67,-1720.38
24,Human Services,Judith Rene Giunta,Psych Aide,10/19/08,NaN,4/15/21,NaN,37201.0,NaN,NaN,-1663.72,-1663.72
25,Human Services,Tiffany L Bagwell,Inc Mntnc Csewrkr,12/1/13,NaN,4/16/21,NaN,42758.0,NaN,NaN,-1651.74,-1651.74
26,Labor & Industry,Kristine Ann Tetherow Thomas,Clk 3,1/4/09,NaN,2/12/21,NaN,38631.0,3146.83,NaN,-4761.13,-1614.30
27,Transportation,Beth Ann Brendlinger,Cstdl Wkr 1,7/18/10,NaN,5/3/21,NaN,30709.0,NaN,NaN,-1541.58,-1541.58
28,Transportation,Patricia L Webb,Mgmt Tchn,8/20/17,NaN,5/13/21,NaN,36831.0,NaN,NaN,-1536.53,-1536.53
29,Human Services,Tina Johnson,Cstdl Wkr 1,3/20/11,NaN,1/21/21,NaN,28323.0,NaN,NaN,-1505.34,-1505.34
...,...,...,...,...,...,...,...,...,...,...,...,...
88672,Public School Employees' Retirement System,Susan E Oh,Sr Mgr Invmt Off PSERS,6/6/99,8/1/03,NaN,NaN,245732.0,238344.77,NaN,NaN,238344.77
88673,Human Services,Dennis R Kapp,Stf Physn 2,11/3/15,11/3/15,NaN,NaN,153487.0,151918.75,87654.04,NaN,239572.79
88674,Human Services,Malorie Lee Budman,Stf Physn 2,5/6/12,5/6/12,NaN,NaN,138407.0,144216.61,97505.33,NaN,241721.94
88675,Human Services,Raineldo C Saquin,Stf Physn 2,6/13/99,12/20/02,NaN,NaN,153487.0,154330.58,87865.82,NaN,242196.40
88676,Corrections,Paul Noel,Chf Clncl Srvs Div Corr,1/14/18,1/14/18,NaN,NaN,205047.0,194393.25,48755.10,NaN,243148.35
88677,Human Services,Jerome L Korinchak,Stf Physn 2,2/2/10,6/25/21,NaN,NaN,153487.0,154474.42,89743.34,NaN,244217.76
88678,Human Services,David B Nesbit,Stf Psychiatrist,8/13/96,10/31/21,NaN,83.49,NaN,140399.98,69962.19,34783.61,245145.78
88679,Human Services,Cheryl Moore,Spvy Physn,5/22/11,12/31/21,NaN,NaN,166710.0,153172.76,96090.28,NaN,249263.04
88680,Human Services,Phyllis A Murr,Mgmt Physn 2,1/4/87,7/2/93,NaN,NaN,173791.0,171430.50,79064.50,NaN,250495.00
88681,Public School Employees' Retirement System,John B Kemp,Mgng Dir Invmt Off PSERS,5/3/98,4/13/12,NaN,NaN,270202.0,256529.63,NaN,NaN,256529.63
88682,Public School Employees' Retirement System,Robert J Devine,Mgng Dir Invmt Off PSERS,6/11/95,9/30/18,NaN,NaN,271062.0,257344.13,NaN,NaN,257344.13
88683,Human Services,Faiyaz Uddin,Stf Physn 2,7/3/88,12/31/99,NaN,NaN,153487.0,151399.50,106321.66,NaN,257721.16
88684,Human Services,Andrea J Richard,Chf Clncl Srvs Mh,3/13/05,7/16/21,NaN,NaN,177468.0,163282.50,96952.19,NaN,260234.69
88685,Human Services,Dennis M Harrsch,Stf Physn 2,10/21/12,10/21/12,NaN,NaN,138407.0,143653.31,118052.51,NaN,261705.82
88686,Human Services,Lynn Anne Cornelius,Stf Physn 2,11/24/19,11/24/19,NaN,NaN,141184.0,139790.70,122827.94,NaN,262618.64
88687,Human Services,Ralf Gerhard Wildner,Psychiatrist Supv,10/15/12,11/20/15,NaN,NaN,184959.0,183075.45,80173.76,NaN,263249.21
88688,State Police,Edward C Murphy,St Plc Lt,4/12/92,NaN,11/19/21,NaN,129795.0,118972.40,492.72,145571.40,265036.52
88689,State Employees' Retirement System,Wilbert Bryan Lewis,Chf Invmt Ofr Sers,7/12/20,7/12/20,NaN,NaN,286534.0,285655.50,NaN,NaN,285655.50
88690,Human Services,Michael C Roman,Stf Physn 2,12/30/18,12/30/18,NaN,NaN,153487.0,152697.16,138142.76,NaN,290839.92
88691,Human Services,Isabelita T Cesar,Stf Psychiatrist,7/2/92,4/21/10,NaN,NaN,163306.0,161083.50,132191.72,NaN,293275.22
88692,Human Services,Mohammed Aslam,Stf Physn 2,7/25/95,11/26/10,NaN,NaN,150260.0,150585.77,147370.94,NaN,297956.71
88693,Human Services,Louka T Makkar,Spvy Physn,11/24/96,12/22/17,NaN,NaN,173791.0,172966.38,127704.68,NaN,300671.06
88694,Human Services,Susan E Lightbourn,Spvy Physn,10/1/10,10/1/10,NaN,NaN,173791.0,171376.81,143699.39,NaN,315076.20
88695,Public School Employees' Retirement System,Thomas A Bauer,Dep Chf Invmt Ofr Psers,4/20/20,4/20/20,NaN,NaN,335728.0,317697.38,NaN,NaN,317697.38
88696,Public School Employees' Retirement System,Charles J Spiller,Dep Chf Invmt Ofr Psers,5/17/98,5/17/98,NaN,NaN,335728.0,318274.50,NaN,NaN,318274.50
88697,Human Services,Danny Chin-Yip Liu,Psychiatrist Supv,3/14/99,10/5/01,NaN,NaN,184959.0,182828.67,142512.79,NaN,325341.46
88698,Human Services,Asmita C Shah,Spvy Physn,5/3/89,3/11/05,NaN,NaN,173791.0,171365.27,154864.01,NaN,326229.28
88699,Human Services,Shahla Behjat,Psychiatrist Supv,7/2/92,10/28/11,NaN,NaN,184959.0,222047.45,125160.65,NaN,347208.10
88700,Human Services,Michael C Brogna,Physn Spcst Intrnl Med,3/19/95,8/22/95,NaN,NaN,153487.0,156650.07,217688.32,NaN,374338.39
88701,Public School Employees' Retirement System,James H Grossman,Chf Invmt Ofr Psers,3/18/01,1/14/18,NaN,NaN,407826.0,387184.88,NaN,NaN,387184.88

### Creates a variable to store the data so we can run analysis on it â¬‡ ###

In [132]:
statesal = pd.read_csv('https://projects.publicsource.org/2018_statesalaries/2017-statesalaries.csv')

In [133]:
statesal.head()

,agency,name,job_title,original_hire_date,date_of_current_position,separation_date,hourly,base_salary,actual_salary_2017,overtime_2017,leave_payout_2017,total
0,Human Services,Marsha Susan Harrison,Rsdntl Srvs Aide,8/20/06,8/17/07,NaN,NaN,32131.0,25191.03,NaN,NaN,25191.03
1,Corrections,Reddecliff,Corr Ofr 1,1/14/96,NaN,1/7/21,NaN,63176.0,NaN,NaN,-8305.51,-8305.51
2,Human Services,Denise McIntosh,Frnsc Regsted Nrs Supv,7/7/14,NaN,2/9/21,33.27,NaN,0.00,NaN,-6678.29,-6678.29
3,Corrections,Tony D Wolfe,Corr Actvs Mgr 2,2/22/99,NaN,1/21/21,NaN,71394.0,NaN,NaN,-5553.48,-5553.48
4,Human Services,Terry J Shumar,Regsted Nrs,7/28/13,NaN,3/12/21,NaN,62154.0,NaN,NaN,-5236.49,-5236.49

### Checks what format each column is and the number of rows â¬‡ ###

In [134]:
statesal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88702 entries, 0 to 88701
Data columns (total 12 columns):
agency                      88702 non-null object
name                        88702 non-null object
job_title                   88702 non-null object
original_hire_date          88702 non-null object
date_of_current_position    78505 non-null object
separation_date             10197 non-null object
hourly                      11190 non-null float64
base_salary                 77510 non-null float64
actual_salary_2017          88499 non-null float64
overtime_2017               51853 non-null float64
leave_payout_2017           7850 non-null float64
total                       88702 non-null float64
dtypes: float64(6), object(6)
memory usage: 8.1+ MB

### Creates a variable to run analysis on column actual_salary_2017 from our main statesal dataset â¬‡ ###

In [135]:
actual_salary = statesal.actual_salary_2017

### Calculates total salaries Pennsylvania paid to state employees â¬‡ ###

In [136]:
actual_salary.sum()

4097071510.16

### Calculates overall state employee median salary â¬‡ ###

In [137]:
actual_salary.median()

44640.85

### Calculates total spent by state on overtime wages â¬‡ ###

In [138]:
statesal.overtime_2017.sum()

233341250.73999995

### Shows top 5 paid state employees â¬‡ ###

In [139]:
statesal.sort_values("actual_salary_2017", ascending=False).head()

,agency,name,job_title,original_hire_date,date_of_current_position,separation_date,hourly,base_salary,actual_salary_2017,overtime_2017,leave_payout_2017,total
88701,Public School Employees' Retirement System,James H Grossman,Chf Invmt Ofr Psers,3/18/01,1/14/18,NaN,NaN,407826.0,387184.88,NaN,NaN,387184.88
88696,Public School Employees' Retirement System,Charles J Spiller,Dep Chf Invmt Ofr Psers,5/17/98,5/17/98,NaN,NaN,335728.0,318274.50,NaN,NaN,318274.50
88695,Public School Employees' Retirement System,Thomas A Bauer,Dep Chf Invmt Ofr Psers,4/20/20,4/20/20,NaN,NaN,335728.0,317697.38,NaN,NaN,317697.38
88689,State Employees' Retirement System,Wilbert Bryan Lewis,Chf Invmt Ofr Sers,7/12/20,7/12/20,NaN,NaN,286534.0,285655.50,NaN,NaN,285655.50
88682,Public School Employees' Retirement System,Robert J Devine,Mgng Dir Invmt Off PSERS,6/11/95,9/30/18,NaN,NaN,271062.0,257344.13,NaN,NaN,257344.13

### Shows, in descending order, what state agencies paid to employees â¬‡ ###

In [140]:
statesal.groupby("agency").actual_salary_2017.sum().reset_index().sort_values("actual_salary_2017", ascending=False).astype(str)

                                          agency  actual_salary_2017
6                                    Corrections   904125528.1499963
20                                Human Services   785618939.3499701
34                                Transportation    566175907.719988
33                                  State Police   467153889.2100001
22                              Labor & Industry  221732465.86999685
24                          Liquor Control Board   161805897.6000002
12                      Environmental Protection  150866342.51999956
7   Department of Millitary and Veterans Affairs  104756516.59999987
30                                       Revenue  100555142.89999999
13                             Executive Offices   96304194.60999998
5               Conservation & Natural Resources   89700038.31000017
28                    Probation And Parole Board   73117959.46999975
18                                        Health  56188254.560000256
16                              General Services   39964335.52000002
1                                    Agriculture   37320019.06000006
15                               Game Commission   34822849.16000003
9                                      Education  30433738.999999974
31                                         State  26944304.529999994
29    Public School Employees' Retirement System  21345666.740000006
4               Community & Economic Development         20776928.07
14                      Fish And Boat Commission   20105844.14000001
21                                     Insurance         14347838.13
2                         Banking and Securities  13069454.259999998
19                Historical & Museum Commission  11404598.479999997
10                   Emergency Management Agency  10768091.259999994
32            State Employees' Retirement System   10668052.28999999
3                       Civil Service Commission   5726775.559999995
0                                          Aging   5700945.559999996
17                             Governor's Office          4551938.02
8                      Drug and Alcohol Programs  4051355.7899999986
27                                      Pennvest          2158865.29
26                    Municipal Retirement Board          1554522.37
25                          Milk Marketing Board          1275789.24
11                   Environmental Hearing Board  1150835.4900000002
23                  Lieutenant Governor's Office           827685.33

### Shows, in descending order, overtime wages state agencies paid to employees â¬‡ ###

In [141]:
statesal.groupby("agency").overtime_2017.sum().reset_index().sort_values("overtime_2017", ascending=False).astype(str)

                                          agency       overtime_2017
6                                    Corrections   91576468.60000013
34                                Transportation   52335062.31999975
20                                Human Services   34669246.76000005
33                                  State Police   30580563.68999998
24                          Liquor Control Board          5328969.03
7   Department of Millitary and Veterans Affairs          4262474.69
22                              Labor & Industry   3806418.350000002
5               Conservation & Natural Resources  2419581.8600000003
28                    Probation And Parole Board  1663564.4799999986
15                               Game Commission  1478888.6000000003
1                                    Agriculture           797576.98
14                      Fish And Boat Commission   783714.4600000003
12                      Environmental Protection   718697.6300000001
16                              General Services   671351.7500000001
18                                        Health   435647.9400000002
10                   Emergency Management Agency   353290.6100000001
30                                       Revenue  298728.07000000007
29    Public School Employees' Retirement System  275618.20999999996
21                                     Insurance            268002.3
31                                         State           251543.81
13                             Executive Offices  119140.72999999998
19                Historical & Museum Commission   82203.65000000001
8                      Drug and Alcohol Programs   59703.40000000001
9                                      Education  56590.079999999994
32            State Employees' Retirement System            18594.63
27                                      Pennvest            16545.81
3                       Civil Service Commission   4997.540000000001
26                    Municipal Retirement Board   4621.540000000001
4               Community & Economic Development  1770.4199999999998
2                         Banking and Securities             1381.47
23                  Lieutenant Governor's Office              195.32
0                                          Aging               96.01
25                          Milk Marketing Board                 0.0
11                   Environmental Hearing Board                 0.0
17                             Governor's Office                 0.0

### Counts the number of employees in different salary ranges â¬‡ ###

In [142]:
actual_salary[actual_salary > 200000].count()

21

In [143]:
actual_salary[actual_salary > 100000][actual_salary < 200000].count()

2591

In [144]:
actual_salary[actual_salary > 80000][actual_salary < 100000].count()

5465

In [145]:
actual_salary[actual_salary > 60000][actual_salary < 80000].count()

16171

In [146]:
actual_salary[actual_salary > 40000][actual_salary < 60000].count()

29225

In [147]:
actual_salary[actual_salary > 20000][actual_salary < 40000].count()

20353

In [148]:
actual_salary[actual_salary < 20000].count()

14672